* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --text-color: rgb(88, 88, 88);

    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    line-height: 1.3;
    font-weight: 500;
    color: var(--text-color);
}

.limit-width {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    gap: 10px;

    align-items: center;

    height: 75px;
    width: 100%;
}

#logo {
    margin-right: auto;
}

#search {
    margin-left: auto;
}

header {
    background-image: url("/assets/img/kolding-hus.jpg");
    background-size: cover;

    position: relative;
    width: 100%;
    height: 100vh;

    margin-bottom: 500px;

    div {
        height: 100%;
    }

    #header-border {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
